/* mono */
$color_white: hsl(0, 0%, 100%); /* #FFFFFF */

/* link colors */
$color_link-normal: hsl(350, 83%, 57%); /* #EC3655 */
$color_link-hover: hsl(350, 63%, 48%); /* #C82E47 */

/* boxShadow colors */
$color_boxShadow: hsla(0, 100%, 0%, 0.5);

/* virtualKeyboard colors */
$color_virtualkeyboard-background: hsl(216, 16%, 19%); /* #282e37 */
$color_virtualkeyboard-footer: hsl(214, 19%, 15%); /* #1e242c */
$color_virtualkeyboard-key: hsl(220, 14%, 17%); /* #252931 */
